@import "../../../styles/colors.scss";

.popupIn {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundModal;
  backdrop-filter: blur(5px);
  z-index: 101;
}
.popupIn__block {
  border-radius: 8px;
  border: 2px solid $details;
  background: $backgroundMenu;
  padding: 20px;
  position: fixed;
  // overflow: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}
.popupIn__title {
  color: $text;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 21px;
}
.popupIn__warning {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #f59b13;
  background: rgba(245, 155, 19, 0.1);
  display: flex;
  padding: 6px;
  flex-direction: column;
  text-align: center;
  color: #f59b13;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 20px;
  & span {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }
}
.popupIn__info {
  border-radius: 4px;
  border: 1px solid $details;
  background: $backgroundModal;
  color: var(--mait-text, rgba(242, 234, 255, 0.8));
  text-align: center;
  font-size: 14px;
  padding: 6px;
  line-height: 120%;
  margin-bottom: 20px;
}
.popupIn__text {
  color: $text;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  line-height: normal;
}
.popupIn__qrcode {
  margin: 20px auto;
  width: 170px;
  height: 170px;
  background-color: $lightPurpule;
  border-radius: 6px;
}
.popupIn__code {
  border-radius: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid $btnBlue;
  background: rgba(41, 20, 75, 0.7);
  color: rgba(242, 234, 255, 0.8);
  font-size: 14px;
  line-height: 120%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 6px;
  & svg {
    position: absolute;
    right: 6px;
    top: 10px;
    cursor: pointer;
  }
}
.popupIn__btn {
  border-radius: 8px;
  background: var(--botton-color, $fillnout);
  // height: 40px;
  padding: 10px 20px;
  margin: 0 auto;
  color: $text;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  @media (max-width: 320px) {
    font-size: 14px;
  }
}
.popupIn__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popupIn__input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  & input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: rgba(242, 234, 255, 1);
    font-size: 16px;
    padding: 0 10px;
    line-height: normal;
    background-color: $backgroundModal;
    border: 1px solid var(--stroke, $details);
    outline: none;
  }
}

.react-select-container {
  margin-bottom: 20px;
}

.select2 {
  background-color: transparent !important;
  border: 2px solid $details !important;
  cursor: pointer;
  border-radius: 8px !important;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.select4 {
  color: white !important;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.select6 {
  background-color: $background !important;
  border: 2px solid $details !important;
  border-radius: 8px !important;
  box-sizing: border-box;
}
.select61 {
  background-color: $background !important;
  border-radius: 8px !important;
  color: $text;
  box-sizing: border-box;
}

.select7 {
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
  color: $text;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
  }
}

.curValOr {
  display: flex;
  justify-content: center;
  gap: 5px;
  img {
    display: none;
  }
}

.curVal {
  color: $fillnout;
  display: flex;
  gap: 5px;
  img {
    display: none;
  }
}

.error {
  color: rgba(211, 65, 118, 1);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.2s linear;
  text-align: center;
  margin: 20px 0;
}

.ok {
  color: #64cb8c;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.2s linear;
  text-align: center;
  margin: 20px 0;
}

.popupIn__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.popupIn__item {
  // flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  color: $text;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  & span {
    color: $fillnout;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }
}

@media (max-width: 719px) {
  .popupIn__block {
    width: 95%;
    // border-radius: 0px;
    // border-top-right-radius: 20px;
    // border-top-left-radius: 20px;
    // bottom: 0px;
    // top: 0px;
    // left: 0px;
    // transform: unset;
    // height: 100vh;
    // width: 100vw;
    // animation: ani 0.3s linear;
  }
}

// @keyframes ani {
//   0% {
//     transform: translateY(150%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
