@import "../../styles/placeholders";

.askBlock {
  display: none;

  h3 {
    @extend %h3-main-placeholder;
    margin: 24px 0 16px;
  }

  p {
    display: inline-block;
    max-width: 580px;
    color: white;
    font-size: 20px;

    span {
      font-weight: 800;
      font-family: 'Playfair Display', serif;
      color: rgba(56, 163, 165, 1);
    }
  }

  .buttonWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media screen and (max-width: 1279px){
    display: block;
  }
}