@import "../../styles/colors.scss";

.gridItem {
  padding: 10px;
  min-height: 110px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 6px;
  border: 1px solid $fillnout;
  background-color: $backgroundModal;
  p {
    margin: 0;
  }
  @media screen and (max-width: 719px) {
    flex-direction: row;
    min-height: unset;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.gridItemTitle {
  line-height: 24px;
  color: $text;
  font-size: 18px;
  font-weight: 600;
  @media screen and (max-width: 719px) {
    font-size: 14px;
    font-weight: 500;
  }
}

.gridItemBody {
  font-size: 18px;
  color: $fillnout;
  font-weight: 400;
  line-height: 145%;
  @media screen and (max-width: 719px) {
    font-size: 14px;
  }
}
