@import '../../../../styles/colors';

.telegramButton {
  padding: 10px;
  display: inline-block;
  width: 60px;
  height: 40px;
  border: 1px solid $fillnout;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: url("../../../../../assets/icons/tradeTelegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: rgba(38, 102, 255, 0.1);
}