@import "../CustomSelect.module";
@import "../../../components/styles/colors";

.option {
  @extend %select-value-wrapper;

  border: $hideText solid 0.5px;

  &:first-child {
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    background-color: $hoverOption;
  }
}
