$bg: #050022;
$white: #ffffff;
$green: #64cb8c;
$purpule: #924fff30;
$btnBlue: #6522d9;
$lightPurpule: #d5c6ee;
$lightPurpuleText: #f2eaffcc;
$greyViolet: #29144bcc;
$lightViolet: #ae7eff;
// $mainText: #c7bed9;
$lightVioletText: #f2eaff80;
$darkViolet: rgba(41, 20, 75, 0.7);
$profileBg: #5b13f51a;
$greenBG: rgba(112, 255, 167, 0.3);
$bgModal: #2b2437b8;

$mainText: #e4c164;

// $backgroundModal: #0ddcaa36;
// $fillnout: #2666ff;
$mainCard: #2666ff15;
$bgmodal: #0d1a3b60;

$hoverOption: rgba(255, 255, 255, 0.15); // for customSelect
$selectedValueBg: rgba(2, 48, 159, 1);

/////////////////////////////////////
$fillnout: #1caf86;
$text: #ffffff;
$background: #191b1e;
$backgroundMenu: #101112;
$backgroundModal: #d9d9d910;
$errorText: #e44e6b;
$details: #343435;
$hideText: #7d7e7f;
$paymentBg: #232426;
