.workOption {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 160px;

  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: linear-gradient(-60deg, #1caf86 10%, #1caf86 30%, #1caf8650 80%, #1caf86 90%);

  &::after {
    content: "";
    display: inline-block;
    width: 395px;
    height: 155px;

    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: #01142c;
    background-image: linear-gradient(-60deg, #127156, rgba(255, 255, 255, 0.48));
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 1919px) {
    width: 300px;
    height: 120px;

    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;

    &::after {
      width: 295px;
      height: 115px;

      -moz-border-radius: 23px;
      -webkit-border-radius: 23px;
      border-radius: 23px;
    }

    &:nth-child(10) {
      img {
        height: 50%;
      }
    }
  }

  @media screen and (max-width: 1279px) {
    width: 170px;
    height: 80px;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    &::after {
      width: 165px;
      height: 75px;

      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }

    img {
      height: 40%;
    }

    &:nth-child(9) {
      img {
        height: 25%;
      }
    }

    &:nth-child(10) {
      img {
        height: 40%;
      }
    }
  }
}
