@import "../styles/colors.scss";

.bg {
  background-color: $backgroundMenu;
  background-image: url("../../assets/img/footerLogo.svg");
  background-repeat: no-repeat;
  background-position: right 95%;
  display: flex;
  justify-content: center;
  z-index: 3;
  position: relative;
}

.root {
  display: flex;
  width: 100%;
  padding: 0 10px;

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
  }
}

.contactBlock {
  @media (max-width: 719px) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-top: 8px;

  svg {
    margin-right: 11px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.emailBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 23px;

  span {
    color: $text;
    // font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 400;
  }
}

.right {
  margin-top: 18px;
  color: $fillnout;
  // font-family: RobotoFlex;
  font-size: 16px;
  font-weight: 600;

  @media (max-width: 840px) {
    display: none;
  }
}

.mobile {
  display: none;
}

.grid {
  width: 68%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: auto;

  &ItemTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    svg {
      display: none;
    }
  }

  &Title {
    color: $text;
    // font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 600;
  }

  &Text {
    display: block;
    text-decoration: none;
    color: $text;
    // font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $fillnout;
    }
  }

  @media (max-width: 840px) {
    margin-top: 21px;
    margin-left: 0;
  }

  @media (max-width: 805px) {
    display: flex;
    flex-direction: column;
    margin: 21px auto 0;
    width: 100%;

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    svg {
      display: block;
    }
  }
}

.svg {
  transform: rotate(180deg);
}

.invisible {
  display: none;
}

.fk {
  width: 100px !important;
  height: 40px !important;
}

@media screen and (min-width: 1919px) {
  .root {
    margin-top: 70px;
    img {
      margin-top: -50px;
    }
  }
}
@media screen and (max-width: 1919px) and (min-width: 1279px) {
  .grid {
    width: unset;
    // grid-template-columns: repeat(2, 1fr);
  }
  .root {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 719px) {
  .footerLogoBlock {
    display: none;
  }
  .grid {
    width: unset;
    grid-template-columns: repeat(2, 1fr);
  }
  .root {
    margin-top: 30px;
  }
}
@media screen and (max-width: 719px) {
  .root {
    margin-top: 30px;
  }
}
