@import "../../styles/colors.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}
.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  gap: 10px;
  @media screen and (max-width: 719px) {
    opacity: 0;
  }
}

.line {
  width: 100px;
  height: 4px;
  border: 1px solid #1caf8650;
  border-radius: 10px;
}

.numberBlock {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1caf8650;
  color: #1caf8650;
}

.stepBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  background-color: $backgroundModal;
  border: 1px solid $fillnout;
  color: $white;
}

.descriptionBlock {
  display: flex;
  margin-top: 10px;
}
.description {
  max-width: 150px;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
  @media (max-width: 719px) {
    font-size: 8px;
  }
}

.centerNumber {
  margin: 0px 100px;
}

.timerText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translateY(50%);
}

.timeBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  .timeBox {
    background-color: $backgroundModal;
    padding: 20px;
    font-weight: 600;
    border-radius: 8px;
    @media screen and (max-width: 719px) {
      padding: 10px;
    }
  }
}
