@import "../../../../styles/colors";

.tradeButton {
  text-decoration: none;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 160px;
  height: 40px;
  border: 1px solid $fillnout;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background-color: rgba(217, 217, 217, 0.11);

  .tradeArrow {
    margin-top: 5px;
    background: url("../../../../../assets/icons/tradeArr.svg") no-repeat center right;
    width: 38px;
    height: 8px;
  }
}